h1 {
	margin-top: 10%;
	font-size: 60px;
	color: chocolate;
	display: flex;
	justify-content: center;
	align-items: center;

}

body {

	background-image: url('../public/images/background-2819026.jpg');
	/* Replace with your image file name */
	background-size: stretch;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Courier New', monospace;
}

.root {
  min-height: 5%;
  padding: 16px; /* You can adjust the padding as needed */
}

.textField {
  font-size: 80rem; /* Increase font size for a bigger input */
  margin-bottom: 16px; /* You can adjust the margin as needed */
  font-size: '2rem'; color: 'lightseagreen';
}

.button {
	width: 100px;
}